body {
  /*background: url("../images/pattern.png");*/
  font-family: 'Slabo 27px', serif;
}

.container-fluid {
  padding: 0px;
}

#spacer {
  height: 30vh;
}

a,
a:hover,
a:foucs {
  text-decoration: none;
}


/* page Transistion */

.ng-leave {
  -webkit-animation: fadeOut .25s both ease-in;
  -moz-animation: fadeOut .25s both ease-in;
  animation: fadeOut .25s both ease-in;
}

.ng-enter {
  -webkit-animation: fadeIn .25s both ease-in;
  -moz-animation: fadeIn .25s both ease-in;
  animation: fadeIn .25s both ease-in;
  animation-delay: 0.25s;
}